<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<p><a class="btn btn-success bnt-xs" th:href="@{/form1}">Crear Producto</a></p>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>Codigo de Administrador</th>
				<th>Nombre de Producto</th>
				<th>Precio Unitario</th>
				<th>Stock de Producto</th>
				<th>Marca de Producto</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto:${producto}">
				<td th:text="${producto.id}"></td>
				<td th:text="${producto.v_idAdministrador}"></td>
				<td th:text="${producto.v_nombreProducto}"></td>
				<td th:text="${producto.f_precioUnitario}"></td>
				<td th:text="${producto.i_stockProducto}"></td>
				<td th:text="${producto.v_marcaProducto}"></td>
				<td><a class="btn btn-primary bnt-xs" th:href="@{/form/} + ${producto.id}" th:text="editar">Crear Producto</a></td>
				<td><a class="btn btn-danger bnt-xs" th:href="@{/eliminar/} + ${producto.id}" th:text="'eliminar'" onclick="return confirm('Estas seguro que deseas eliminar?');">Crear Producto</a></td>
			</tr>

		</tbody>
	</table>
</body>
</html>